<% if collection.present? %>
  <h2><%= t('sources') %></h2>
  <ul>
  <% collection.each do |source| %>
    <li><%= source.short_title %> = <%= raw formatted_source(source) %></li>
  <% end %>
  </ul>
<% end %>