<div id="home-carousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#home-carousel" data-slide-to="1"></li>
    <li data-target="#home-carousel" data-slide-to="2"></li>
    <li data-target="#home-carousel" data-slide-to="3"></li>
    <li data-target="#home-carousel" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner">
    <div class="active item">
      <img src="/assets/carousel/01.jpg" alt="">
      <div class="carousel-caption">
        <p>Statuti del comune di Salò (1). (1502 dicembre 9 - 1589 febbraio 18) - Salò. Comune di Salò, Sezione d'antico regime, Statuti e privilegi</p>
      </div>
    </div>
    <div class="item">
      <img src="/assets/carousel/02.jpg" alt="">
      <div class="carousel-caption">
        <p>Annuario e programma, A.A.1863-64 (1863 - 1864) - Archivio storico del Politecnico di Milano, Repertori, Programmi e annuari</p>
      </div>
    </div>
    <div class="item">
      <img src="/assets/carousel/03.jpg" alt="">
      <div class="carousel-caption">
        <p>Laureandi ingegneri 1871 - Archivio storico del Politecnico di Milano, Quadri di Laurea</p>
      </div>
    </div>
    <div class="item">
      <img src="/assets/carousel/04.jpg" alt="">
      <div class="carousel-caption">
        <p>Album, 'Schizzi fatti nel 1944' - Fondo Grassi Liliana, Materiale grafico</p>
      </div>
    </div>
    <div class="item">
      <img src="/assets/carousel/05.jpg" alt="">
      <div class="carousel-caption">
        <p>Milano, Ospedale Maggiore (1950) - Fondo Grassi Liliana, Libera Professione, Progetti</p>
      </div>
    </div>
  </div>
  <a class="carousel-control left" href="#home-carousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#home-carousel" data-slide="next">&rsaquo;</a>
</div>