<% title "Credits" %>

<h1>Credits</h1>

<p><strong>Ente promotore</strong><br>
<%= link_to "Regione Lombardia", "http://www.cultura.regione.lombardia.it/cs/Satellite?c=Page&childpagename=DG_Cultura%2FDGHomeLayout&cid=1213277054451&pagename=DG_CAIWrapper" %>, Direzione Generale Culture, Identità e Autonomie<p>

<p><strong>Ente realizzatore</strong><br>
<%= link_to "Politecnico di Milano", "http://www.biblio.polimi.it/sedi/archivi/archivi-storici/" %>, Archivi storici<p>

<p><strong>Progettazione e sviluppo informatico</strong><br>
<%= link_to "Codex Società Cooperativa", "http://codexcoop.it" %>, Pavia</p>

<p>Archimista Web è un'applicazione open source rilasciata sotto licenza GNU General Public License v2.0 o successive.<br>
Il codice sorgente di Archimista Web è disponibile nel repository GitHub di <%= link_to "Codex", "https://github.com/codexcoop/archimistaweb" %>.</p>

